body {
  margin: 0;
  font-family: 'ITC Benguiat', serif; /* Use ITC Benguiat font */
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(assets/img/2024/background-5.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'ITC Benguiat'; /* Use the font-family name */
  src: url('./assets/fonts/unicode.benguiat.ttf') format('truetype'); /* Update the font file path */
}
